extends layout

block content
  .about-container
    img.about-img(src='/img/gato-programador.png', alt='Gato programador')
    .about-text
      h1 Sobre MuseArte
      p
        | Este proyecto fue desarrollado como parte de un parcial práctico de la asignatura Programación Web.
      br
      p
        strong Creador: 
        | Albert Jaimes
