extends layout

block content
  h1 Bienvenido a MuseArte
  p
    | MuseArte es un museo virtual donde el arte clásico cobra vida con un giro felino. 
    | Explora una galería única en la que famosos cuadros han sido reinterpretados 
    | con gatos como protagonistas, creando una experiencia visual divertida y educativa.
  br
  p
    | Desde la Gatmona Lisa hasta Las Meowinas, cada obra es una fusión entre la 
    | historia del arte y el ingenio creativo. 
  br
  a(href='/galeria') Explora la galería →
