doctype html
html
  head
    title MuseArte
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h1 MUSEARTE
      p Museo Virtual de Arte Moderno
      nav
        ul
          li: a(href='/') Inicio
          li: a(href='/galeria') Galería
          li: a(href='/acerca') Acerca
    main
      block content
    footer
      p © 2025 Museo Virtual
